<!DOCTYPE html>
<html>
<head>
    <title>办案流程</title>
    <link href="/static/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.qtip.min.css">
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/cytoscape.min.js"></script>
    <script src="/static/js/jquery.qtip.js"></script>
	<script src="/static/js/cytoscape-qtip.js"></script>
    <script src="https://unpkg.com/klayjs@0.4.1/klay.js"></script>
    <script src="/static/js/cytoscape-klay.js"></script>

	

</head>
<body>
  <center><h1>千与千寻人物关系</h1></center>
  <div id="cy"></div> <!--引用code.js中cytoscape绘图-->

  <script src="/static/js/code.js"></script>
</body>
</html>
